.no-hover :hover {
  text-decoration: none;
  color: none;
}

.my-nav {
  background-color: #eafbffea;
  color: #000;
}

.my-nav .top-auth {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-nav .top-auth .top-auth-child {
  padding: 10px 10px 10px 10px;
}

.my-nav .top-auth .create-account {
  background-color: #D73827;
  color: #ffffff;
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
  margin-left: 10px;
}

.my-nav .top-auth .auth-item {
  padding-left: 10px;
  color: #5a5a5a;
  font-weight: 500;
}

.my-nav .top-auth .auth-item:hover {
  text-decoration: none;
  color: #1b1b1b;
}

.my-nav .nav-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-nav .nav-parent .nav-child1 {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.my-nav .nav-parent .nav-child1 .nav-child-img {
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .my-nav .nav-parent .nav-child1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-nav .nav-parent .nav-child1 .nav-child-img {
    margin-bottom: 0px;
  }
}

.my-nav .nav-parent .nav-child2 {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.my-nav .nav-parent .nav-child2 .nav-child-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-nav .nav-parent .nav-child2 .nav-child-list .my-nav-item {
  padding-left: 18px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #6b6b6b;
}

@media screen and (max-width: 500px) {
  .my-nav .nav-parent .nav-child2 .nav-child-list .my-nav-item {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .my-nav .nav-parent .nav-child2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .my-nav {
    border-bottom: solid #207595 10px;
  }
}

.my-nav .auth-bottom {
  background-color: #207595;
}

.my-nav .auth-bottom .auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-nav .auth-bottom .auth .auth-item {
  color: white;
  padding: 5px 0px 5px 0px;
}

@media screen and (max-width: 500px) {
  .my-nav .auth-bottom .auth .auth-item {
    display: none;
  }
}

.store {
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .store .product-list {
    display: none;
  }
}

.store .product-list .list-title {
  color: #181818;
  font-size: 16px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.store .product-list .product-title {
  font-weight: 600;
  color: #5f5f5f;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

.store .product-list .product-title:hover {
  cursor: pointer;
  background-color: #ddf6ff;
  border-radius: 5px;
  text-decoration: none;
}

.store .storefront-gallery .header {
  color: #094f70;
  text-align: center;
  padding-bottom: 10px;
  font-size: 28px;
}

.store .storefront-gallery .img-gallery-col {
  padding-left: 0px;
  width: 10px;
}

.store .storefront-gallery .img-gallery-col .img-gallery-text {
  color: white;
  text-shadow: 1px 1px 1px #424242;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.store .storefront {
  border-left: solid 1px #dddddd;
  padding-left: 20px;
}

.store .storefront .filter-button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #338fb1;
}

.store .storefront .my-card {
  height: 153px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.store .storefront .my-card .text {
  padding-top: 55px;
  padding-left: 10px;
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px #1f1f1f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 43px;
}

.store .storefront .img {
  height: 150px;
  width: auto;
  background-image: url("./husky.jpg");
  background-position: center;
  border-radius: 10px;
  background-size: cover;
}

.store .storefront .title {
  padding-top: 15px;
}

.store .storefront .subtitle {
  font-size: 14px;
}

.store .storefront .learn-more {
  background-color: transparent;
  width: 100px;
  border-bottom: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
}

.store .storefront .learn-more:hover {
  color: black;
  background-color: #ddf6ff;
  border-radius: 5px;
  text-decoration: none;
}

.store .storefront .collapse-head {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #8a8a8a;
  cursor: pointer;
}

.store .storefront .collapse-body {
  margin-top: 10px;
}

.store .storefront .selected {
  background-color: #ddf6ff;
  -webkit-box-shadow: 2px 2px 2px  #cae0e9;
          box-shadow: 2px 2px 2px  #cae0e9;
  color: #414141;
}

.store .storefront .product-buttons {
  text-align: center;
}

.store .storefront .product-buttons .add-to-cart-button {
  background-color: #338fb1;
  color: white;
  padding: 6px 8px 6px 12px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.store .storefront .product-buttons .add-to-cart-button:hover {
  background-color: #287794;
}

.store .storefront .product-buttons .qty {
  background-color: #caf1ff;
  cursor: pointer;
  border: none;
  padding-top: 7px;
  padding-bottom: 8px;
}

.store .storefront .product-buttons .right {
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.store .storefront .product-buttons .checkout {
  margin-top: 10px;
  margin-left: 20%;
  font-size: 12px;
  background-color: #34cc34;
  color: white;
  padding: 6px 12px 6px 12px;
  border: none;
  border-radius: 5px;
}

.store .storefront .product-buttons .checkout:hover {
  background-color: #29a329;
}

.cart {
  margin-top: 20px;
}

.cart .remove-item {
  background-color: red;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  margin-left: 5px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.cart .qty-change {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.shipping {
  margin-top: 20px;
}

.payment .payment-header {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.payment .paymentOptions .collapse-head {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #8a8a8a;
  cursor: pointer;
}

.payment .paymentOptions .collapse-body {
  margin-top: 10px;
}

.payment .paymentOptions .selected {
  background-color: #ddf6ff;
  -webkit-box-shadow: 2px 2px 2px  #cae0e9;
          box-shadow: 2px 2px 2px  #cae0e9;
  color: #414141;
}

.payment .paymentOptions .Card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.payment .save {
  margin-bottom: 20px;
  margin-left: 20px;
}

.bold {
  font-weight: 700;
}
/*# sourceMappingURL=store.css.map */