.container-w-side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .container-w-side-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0px;
  }
}

.container-w-side-nav .pages {
  height: 400px;
  padding: 20px;
  width: 15%;
}

.container-w-side-nav .pages .side-nav {
  position: fixed;
  width: 10%;
}

@media screen and (max-width: 1000px) {
  .container-w-side-nav .pages .side-nav {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .container-w-side-nav .pages {
    padding: 20px;
    width: 80%;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.home .col-top {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  text-align: left;
}

.home .col-top .col-top-left {
  background-color: #FAEEC8;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #317C97;
  padding-left: 10%;
}

.home .col-top .col-top-left .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.home .col-top .col-top-left .text .text-1 {
  margin-top: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  font-size: 25px;
}

.home .col-top .col-top-left .text .text-2 {
  font-size: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.home .col-top .col-top-left .text-3 {
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: large;
}

.home .col-top .col-top-right {
  width: 50%;
  height: 310px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("../assets/img/home/horse-dog.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1500px) {
  .home .col-top .col-top-right {
    width: 45%;
    height: 510px;
  }
}

.home .col-mid {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .col-mid .mid-head {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.home .col-mid .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.home .col-mid .mid-body {
  padding: 30px 100px 30px 100px;
}

@media screen and (max-width: 500px) {
  .home .col-mid .mid-body {
    padding: 10px;
  }
}

.home .col-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #BEC8D4;
  padding-bottom: 20px;
}

.home .col-bottom .cols {
  width: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.home .col-bottom .cols img {
  width: 100px;
}

.home .col-bottom .cols .head {
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  text-transform: uppercase;
}

.home .col-bottom .cols .product-link {
  padding: 10px 0px 10px 0px;
  color: #3b3b3b;
  cursor: pointer;
}

.home .col-bottom .cols .product-link:hover {
  text-decoration: none;
  color: #D16000;
}

.home .col-bottom .cols .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 1px;
  width: 100px;
  margin: 10px auto 10px auto;
}

.home .col-bottom .cols button {
  background-color: #D16000;
  color: white;
  border-radius: 15px;
  border: none;
  margin: 0px 100px 0px 100px;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .home .col-bottom .cols button {
    margin: 0px 10px 0px 10px;
  }
}

.home .col-bottom .cols button:hover {
  text-decoration: none;
  background-color: #b65500;
}

.home .col-bottom .cols button:focus {
  background-color: #51779b;
  border: none;
  outline: none;
}

.canine-nav {
  background-color: #207595 !important;
}

.canine-nav .nav-link {
  color: white !important;
  font-weight: 600;
  cursor: pointer;
}

.canine-nav .nav-link:hover {
  text-decoration: none;
  color: #f17202 !important;
  opacity: 1;
}

.canine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.canine .col-top {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  text-align: left;
}

.canine .col-top .col-top-left {
  background-color: #317C97;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #FAEEC8;
  padding-left: 5%;
}

.canine .col-top .col-top-left .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.canine .col-top .col-top-left .text .text-1 {
  margin-top: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  font-size: 50px;
}

.canine .col-top .col-top-left .text .text-2 {
  font-size: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.canine .col-top .col-top-left .text-3 {
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: large;
}

.canine .col-top .col-top-right {
  width: 50%;
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url("../assets/img/canine/pug-with-puppies-1024x682.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1500px) {
  .canine .col-top .col-top-right {
    width: 45%;
    height: 510px;
  }
}

.canine .col-mid {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canine .col-mid .mid-head {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.canine .col-mid .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.canine .col-mid .mid-body {
  padding: 30px 100px 30px 100px;
}

@media screen and (max-width: 500px) {
  .canine .col-mid .mid-body {
    padding: 10px;
  }
}

.equine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.equine .col-top {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  text-align: left;
}

.equine .col-top .col-top-left {
  background-color: #247695;
  color: #FAEEC8;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-stretch: condensed;
  width: 400px;
}

.equine .col-top .col-top-left img {
  width: 100%;
  height: 270px;
}

.equine .col-mid {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equine .col-mid .mid-head {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.equine .col-mid .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.equine .col-mid .mid-body {
  padding: 30px 100px 30px 100px;
}

@media screen and (max-width: 500px) {
  .equine .col-mid .mid-body {
    padding: 10px;
  }
}

.equine-igg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.equine-igg .col-top {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  text-align: left;
}

.equine-igg .col-top .col-top-left {
  background-color: #247695;
  color: #FAEEC8;
  padding-left: 5%;
  width: 400px;
}

.equine-igg .col-top .col-top-left .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.equine-igg .col-top .col-top-left .text .text-1 {
  margin-top: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  font-size: 30px;
}

.equine-igg .col-top .col-top-left .text .text-2 {
  font-size: 30px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.equine-igg .col-top .col-top-left .text-3 {
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: large;
}

.equine-igg .col-mid {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equine-igg .col-mid .igg-jumbo {
  margin-bottom: 0px;
}

.equine-igg .col-mid .igg-jumbo .jumbo-logo {
  width: 40px;
  height: 40px;
}

.equine-igg .col-mid .igg-jumbo .targetvet {
  color: #0e5777;
  padding-right: 7px;
}

.equine-igg .col-mid .table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.equine-igg .col-mid .table-head .table-text {
  font-size: 16px;
  color: #0e5777;
}

.equine-igg .col-mid .table-head .table-text .small-text {
  font-size: 12px;
  font-style: italic;
  padding-right: 5px;
}

.equine-igg .col-mid .table-head .table-logo {
  width: 25px;
  height: 25px;
}

.equine-igg .col-mid .table-head-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equine-igg .col-mid .table-head-results .table-text-results {
  font-size: 20px;
  color: #0e5777;
  padding-right: 10px;
}

.equine-igg .col-mid .table-head-results .table-logo-results {
  width: 35px;
  height: 35px;
}

.equine-igg .col-mid .example-target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equine-igg .col-mid .example-target img {
  width: 150px;
  height: 100px;
}

.equine-igg .col-mid .results-list {
  text-align: left;
}

.equine-igg .col-mid .mid-head {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.equine-igg .col-mid .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.equine-igg .col-mid .mid-body {
  padding: 30px 100px 30px 100px;
}

@media screen and (max-width: 500px) {
  .equine-igg .col-mid .mid-body {
    padding: 10px;
  }
}

.equine-igg .col-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #BEC8D4;
  padding-bottom: 20px;
}

.equine-igg .col-bottom .cols {
  width: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.equine-igg .col-bottom .cols img {
  width: 100px;
}

.equine-igg .col-bottom .cols .head {
  margin-bottom: 10px;
  color: #317C97;
  font-size: 36px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  text-transform: uppercase;
}

.equine-igg .col-bottom .cols .product-link {
  padding: 10px 0px 10px 0px;
  color: #3b3b3b;
  cursor: pointer;
}

.equine-igg .col-bottom .cols .product-link:hover {
  text-decoration: none;
  color: #D16000;
}

.equine-igg .col-bottom .cols .underline-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #317C97;
  height: 1px;
  width: 100px;
  margin: 10px auto 10px auto;
}

.equine-igg .col-bottom .cols button {
  background-color: #D16000;
  color: white;
  border-radius: 15px;
  border: none;
  margin: 0px 100px 0px 100px;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .equine-igg .col-bottom .cols button {
    margin: 0px 10px 0px 10px;
  }
}

.equine-igg .col-bottom .cols button:hover {
  text-decoration: none;
  background-color: #b65500;
}

.equine-igg .col-bottom .cols button:focus {
  background-color: #51779b;
  border: none;
  outline: none;
}

.equine-igg .how-it-works {
  background-color: #F9EEC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
}

.equine-igg .how-it-works .video {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.equine-igg .how-it-works .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.equine-igg .how-it-works .ten-min-head {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.equine-igg .how-it-works .ten-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.equine-igg .how-it-works table {
  width: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  text-align: left;
}

.equine-igg .benefites-container {
  background-color: whitesmoke;
}

.equine-igg .benefites-container .benefites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  text-align: left;
}

.equine-igg .benefites-container .benefites h4 {
  font-size: 20px;
  font-weight: 700;
  padding-left: 20px;
}

.equine-quickp4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 1200px;
}

.equine-quickp4 .col-top {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase;
  text-align: left;
}

.equine-quickp4 .col-top .col-top-left {
  background-color: #247695;
  color: #FAEEC8;
  padding-left: 5%;
  width: 400px;
}

.equine-quickp4 .col-top .col-top-left .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.equine-quickp4 .col-top .col-top-left .text .text-1 {
  margin-top: 50px;
  font-stretch: ultra-condensed;
  font-weight: 600;
  font-size: 30px;
}

.equine-quickp4 .col-top .col-top-left .text .text-2 {
  font-size: 30px;
  font-stretch: ultra-condensed;
  font-weight: 600;
}

.equine-quickp4 .col-top .col-top-left .text-3 {
  margin-bottom: 100px;
  margin-top: 20px;
  font-size: large;
}
/*# sourceMappingURL=pages.css.map */