footer {
    background-color:#4b96b1;
    color: white ;
    display: flex;
    justify-content: center;


}

.footer-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.text-footer {
    color: rgb(216, 216, 216) ;
    opacity: .8 ;
}

.item {
    margin: 15px;
    font-style: italic;
}

.item-social {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.input-llc {
    color: rgb(252, 252, 252) ;
    font-weight: 500;
}
.input-llc:hover {
    color: white;
    opacity: .3;
}

.foot-img {
    margin: 8px;
}